[submodule "src/content/materials/schoepfungsbuch"]
	path = src/content/materials/schoepfungsbuch
	url = git@github.com:pfr-christoph-fischer/material-schoepfungsbuch.git
	branch = main


[submodule "src/content/sermons/2018-09-02-dnkgtt"]
	path = src/content/sermons/2018-09-02-dnkgtt
	url = git@github.com:pfr-christoph-fischer/predigt-2018-09-02-dnkgtt.git
	branch = main

[submodule "src/content/sermons/2018-09-09-wie-kann-man-nur-so-blind-sein"]
	path = src/content/sermons/2018-09-09-wie-kann-man-nur-so-blind-sein
	url = git@github.com:pfr-christoph-fischer/predigt-2018-09-09-wie-kann-man-nur-so-blind-sein.git
	branch = main

[submodule "src/content/sermons/2018-09-30-alles-gute-kommt-von-dir"]
	path = src/content/sermons/2018-09-30-alles-gute-kommt-von-dir
	url = git@github.com:pfr-christoph-fischer/predigt-2018-09-30-alles-gute-kommt-von-dir.git
	branch = main

[submodule "src/content/sermons/2018-10-05-alles-oder-nichts"]
	path = src/content/sermons/2018-10-05-alles-oder-nichts
	url = git@github.com:pfr-christoph-fischer/predigt-2018-10-05-alles-oder-nichts.git
	branch = main

[submodule "src/content/sermons/2018-10-14-die-zeit-ist-kurz"]
	path = src/content/sermons/2018-10-14-die-zeit-ist-kurz
	url = git@github.com:pfr-christoph-fischer/predigt-2018-10-14-die-zeit-ist-kurz.git
	branch = main
