[submodule "src/content/materials/schoepfungsbuch"]
	path = src/content/materials/schoepfungsbuch
	url = git@github.com:pfr-christoph-fischer/material-schoepfungsbuch.git
	branch = main


[submodule "src/content/sermons/2018-09-02-dnkgtt"]
	path = src/content/sermons/2018-09-02-dnkgtt
	url = git@github.com:pfr-christoph-fischer/predigt-2018-09-02-dnkgtt.git
	branch = main
