---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for entry in collections.all %}
    {% if entry.url and entry.data.index != false and not entry.data.eleventyExcludeFromCollections %}
    <url>
      <loc>{{ entry.url | absoluteUrl(site) }}</loc>
      {% if entry.date %}
      <lastmod>{{ entry.date | htmlDateString }}</lastmod>
      {% endif %}
    </url>
    {% endif %}
  {% endfor %}
</urlset>
